
<link rel="stylesheet" type="text/css" href="/assets/css/cssreset.min.css"/>
<style type="text/css">
html {
	background-color: #000;
}
body {
	margin-top: 55px;
	background-color: #000;
	font-family: "Courier";
	font-size: 16px;
}
#in {
	display: block;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 8px;
	border-color: #fff;
	border-width: 1px 0 0 0;
	background-color: #000;
	color: #0f0;
}
p {
  color: lime;
}
</style>

<div id="out"></div>
<input id="in" tabindex="0"/>

<script type="text/javascript" src="/assets/js/yui-min.js"></script>
<script src="/socket.io/socket.io.js"></script>
