<div class="container">

	<div class="starter-template">
		<h1>{{get_name}}</h1>
		<p class="lead">{{get_name}} is the exciting new game sweeping the nation.  Probably.</p>
	</div>
	<p><h3>Start a game of hearts!</h3></p>
	<form>
			Number of players:	<input id="playerNumber" readonly autocomplete="off" Value="4"/><p></p><button id="startButton">Start Game</button>
	</form>
</div><!-- /.container -->
