<div class="container">
	<div class="starter-template">
		<h1>{{get_name}}</h1>
		<p class="lead">{{get_name}} is the exciting new game sweeping the nation.  <i>Probably</i>.</p>
	</div>

	<div class="playContainer">
		<div class="padded-box">
			<h3>Start a game of hearts!</h3>
			<form>
					<p>Number of players:</p>
					<input class="form-control playersTxt" id="playerNumber" readonly autocomplete="off" Value="4"/>
					<br />
					<button class="btn btn-primary startBtn" id="startButton">Start Game</button>
					<br />
					<br />
					<a href="#" id="confirmationMessage" style="visibility:hidden">Join the Game!</a>
					<br />
			</form>
		</div>
	</div>
</div><!-- /.container -->
