html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  padding-top: 50px;
}
.template-heading {
  padding: 40px 15px;
}

.bottomHand {
	position: fixed;
	bottom: 10px;
	width: 100%;
}

.bottomCards, .topCards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.leftHand {
  position: fixed;
  left: -35px;
  top: 0px;
  height: 100%;
}

.leftCards {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);

  display: flex;
  align-items: center;
  height: 100%;
}

.topHand {
	position: fixed;
	top: 60px;
	width: 100%;
}

.rightHand {
  position: fixed;
  right: -35px;
  top: 0px;
  height: 100%;
}

.rightCards {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);

  display: flex;
  align-items: center;
  height: 100%;
}

.bottomPlayArea {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.leftPlayArea {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.topPlayArea {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.rightPlayArea {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.bottomPlayCard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 400px;
}

.leftPlayCard {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 350px;
  margin-left: -100px;
}

.topPlayCard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
}

.rightPlayCard {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 350px;
  margin-right: -100px;
}

.playContainer {
  -webkit-box-shadow: 0px 0px 39px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 39px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 39px 2px rgba(0,0,0,0.75);

  position: relative;
  margin: 4em auto 2em auto;
  border: solid 1px lightgrey;
  border-radius: 10px;
  width: 500px;
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.playContainer>.padded-box>h3, .playContainer>.padded-box>form {
  text-align: center;
}

.playContainer>.padded-box {
  margin: 1em;
}

.starter-template {
  text-align: center;
}

.playersTxt {
  padding-left: 1em;
  margin-left: 1em;
  display: inline;
  width: auto;
}

.startBtn {
  margin-top: 1em;
}

h1, p, h3 {
  color: lightgrey;
}

.playContainer>.padded-box>form>p {
  color: lightgrey;
  display: inline;
}